@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
ol,
nav {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: var(--fontSize-default);
  max-width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ---------------------------------------------- */

:root {
  --fontSize-s: 1.2rem;
  --fontSize-default: 1.6rem;
  --fontSize-med: 2rem;
  --fontSize-l: 2.6rem;
  --fontSize-xl: 4rem;
  --color-main: #f9f3ee;
  --color-secondary: #cdf0ea;
  --color-accent: #fdeff4;
  --color-grey: #545454;
  --color-red: #ff6363;
  --color-red-dark: #e65959;
  --gap-s: 1em;
  --gap-m: 4rem;
  --gap-l: 7rem;
  --padding-xs: 1rem 2rem;
  --padding-s: 3rem 6rem;
  --padding-m: 5rem 6rem;
  --border: 2px solid var(--color-grey);
}

/* ---------------------------------------------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#header {
  padding: var(--padding-s);
  border: var(--border);
  background-color: var(--color-main);
}

.header__nav {
  justify-content: space-between;
}

.header__nav--list {
  gap: var(--gap-s);
  list-style: none;
}

.header__nav--list button {
  padding: var(--padding-xs);
  font-family: inherit;
  font-weight: 700;
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.1s;
}

.header__nav--list button:hover {
  background-color: var(--color-secondary);
}

.header__nav--list button:active {
  background-color: var(--color-secondary);
  transform: translateY(2px);
}

.icon {
  height: 4rem;
  width: 4rem;
}

.header__logo {
  font-size: var(--fontSize-xl);
}

.notes {
  min-height: 85vh;
  padding: var(--padding-s);
}

.notes__nav {
  grid-column: 1 / 2;
  gap: var(--gap-m);
}

.notes__nav--list {
  list-style: none;
  gap: var(--gap-s);
}

.notes__grid {
  background-color: var(--color-main);
  grid-column: 2 / 3;
  padding: var(--padding-s);
  max-height: 95%;
  border: var(--border);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 18rem;
  gap: var(--gap-l);
  justify-items: center;
  align-items: center;
}

.notes__grid--item {
  padding: var(--padding-xs);
  position: relative;
  border: 1px solid black;
  background-color: var(--color-accent);
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  min-height: 100%;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-s);
  box-shadow: 1.5px 3px 8px rgba(0, 0, 0, 0.2);
}

.doneBtn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 0.3em 1em;
  height: 3rem;
  width: 7rem;
  border-radius: 2rem;

  background-color: var(--color-secondary);
  text-align: center;
  font-weight: 700;
  font-size: var(--fontSize-s);
  border: var(--border);
  cursor: pointer;
  transition: all 0.2s;
}

.doneBtn:hover {
  background-color: #63c7b2;
}

.doneBtn:active,
.deleteBtn:active {
  transform: translateY(2px);
}

.deleteBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 0.3em;
  height: 3rem;
  width: 7rem;
  border-radius: 2rem;
  background-color: var(--color-red);
  text-align: center;
  font-weight: 700;
  font-size: var(--fontSize-s);
  border: var(--border);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-red-dark);
}
